# Numerous always-ignore extensions
*.a
*.diff
*.err
*.exe
*.ipr
*.iws
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*~
\#*#


# Intellij IDEA
#*.iml  # include Java module file
.idea/dictionaries/
.idea/workspace.xml


# Only include library files not automatically retrieved by Apache Ivy.
lib/*
!lib/ant-antunit*
!lib/antunit*
!lib/closure*
!lib/soy*


# OS or Editor folders
.DS_Store
.cache
.directory
META-INF
nbproject
.project
.settings
thumbs.db


# Folders to ignore
.builder-plus/
.closure-ant/
bin/
build/
.hg/
publish/
.svn/
*~/
