# Numerous always-ignore extensions
*.a
*.diff
*.err
*.exe
#*.iml  # include IntelliJ IDEA Java module file
*.ipr
*.iws
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*~
\#*#

# Only include library files not automatically retrieved by Apache Ivy.
lib/*
!lib/ant-antunit*
!lib/antunit*
!lib/closure*
!lib/ivy*
!lib/soy*


# OS or Editor folders
.DS_Store
.cache
.directory
.idea
META-INF
nbproject
.project
.settings
thumbs.db

# Folders to ignore
.builder-plus/
.closure-ant-tasks/
bin/
build/
.hg/
publish/
.svn/
*~/
