{delpackage specialGreeting}
{namespace delegate.test.special autoescape="contextual"}

/**
 * Special implementation: Exuberant greeting .
 */
{deltemplate helloDelegates}
  {msg desc="Exuberant greeting to the delegation."}
  This is an amazing event and a once-in-a-lifetime opportunty to exchange
  ground-breaking ideas at the {globalEventName}!{/msg}
{/deltemplate}