{namespace ns.soy autoescape="contextual"}

/**
 * Filter a list of 'link' elements based on the specified relationship type.
 * @param linkList A list of link elements.
 * @param relType The link relationship type.
 */
{template .filterLinkList}
  {foreach $link in $linkList}
    {if $link.rel == $relType}
      <link href="{$link.href|noAutoescape}" rel="{$link.rel}" type="{$link.type}">
    {/if}
  {/foreach}
{/template}