{namespace ns.soy autoescape="contextual"}

/**
 * Print a list of items as an unordered list.
 * @param list A list of items to print.
 */
{template .printListAsUL}
  <ul>
  {foreach $item in $list}
    <li>{$item}</li>
  {/foreach}
  </ul>
{/template}
